body {
  /* font: "Raleway", sans-serif; */
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  top: 15%;
  background-color: black;
}

h1 {
  font-size: 5rem;
  color: aliceblue;
  font-family: monospace;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  width: 100%;
}
